USE [master]
GO
/****** Object:  Database [PromptCrm]    Script Date: 11/11/2025 3:56:42 PM ******/
CREATE DATABASE [PromptCrm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PromptCrm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PromptCrm.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PromptCrm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PromptCrm_log.ldf' , SIZE = 1122304KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PromptCrm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PromptCrm]
GO
/****** Object:  Table [dbo].[PCRAddresses]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRAddresses](
	[IdAddress] [int] IDENTITY(1,1) NOT NULL,
	[Directions1] [varchar](80) NOT NULL,
	[Directions2] [varchar](50) NULL,
	[zipCode] [varchar](10) NULL,
	[Geolocation] [geography] NULL,
	[IdCity] [int] NOT NULL,
 CONSTRAINT [PK_PCRAddresses] PRIMARY KEY CLUSTERED 
(
	[IdAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRCampaigns]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRCampaigns](
	[IdCampaign] [int] IDENTITY(1,1) NOT NULL,
	[CampaignCode] [varchar](20) NOT NULL,
	[IdOrganization] [int] NOT NULL,
	[IdStatus] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PCRCampaigns] PRIMARY KEY CLUSTERED 
(
	[IdCampaign] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRCampaignStatuses]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRCampaignStatuses](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[StatusDescription] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRCampaignStatuses] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRCities]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRCities](
	[IdCity] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NOT NULL,
	[IdState] [int] NOT NULL,
 CONSTRAINT [PK_PCRCities] PRIMARY KEY CLUSTERED 
(
	[IdCity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRClients]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRClients](
	[IdClient] [int] IDENTITY(1,1) NOT NULL,
	[ClientCode] [varchar](30) NOT NULL,
	[IdStatus] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PCRClients] PRIMARY KEY CLUSTERED 
(
	[IdClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRClientsPerCampaigns]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRClientsPerCampaigns](
	[IdCampaign] [int] NOT NULL,
	[IdClient] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRClientStatuses]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRClientStatuses](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[StatusDescription] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRClientStates] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRCountries]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRCountries](
	[IdCountry] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](30) NOT NULL,
 CONSTRAINT [PK_PCRCountries] PRIMARY KEY CLUSTERED 
(
	[IdCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCREventMediums]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCREventMediums](
	[IdEventMedium] [int] IDENTITY(1,1) NOT NULL,
	[MediumName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PCREventMediums] PRIMARY KEY CLUSTERED 
(
	[IdEventMedium] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCREvents]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCREvents](
	[IdEvent] [int] IDENTITY(1,1) NOT NULL,
	[IdEventType] [int] NOT NULL,
	[IdEventSources] [int] NOT NULL,
	[IdEventMedium] [int] NOT NULL,
	[EventRefID] [varchar](20) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[IdLead] [int] NOT NULL,
 CONSTRAINT [PK_PCREvents] PRIMARY KEY CLUSTERED 
(
	[IdEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCREventSources]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCREventSources](
	[IdEventSource] [int] IDENTITY(1,1) NOT NULL,
	[SourceName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PCREventSources] PRIMARY KEY CLUSTERED 
(
	[IdEventSource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCREventTypes]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCREventTypes](
	[IdEventType] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCREventTypes] PRIMARY KEY CLUSTERED 
(
	[IdEventType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRFeaturesPerClients]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRFeaturesPerClients](
	[IdClient] [int] NOT NULL,
	[IdFeatureType] [int] NOT NULL,
	[FeatureValue] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRFeaturesPerLeads]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRFeaturesPerLeads](
	[IdLead] [int] NOT NULL,
	[IdFeatureType] [int] NOT NULL,
	[FeatureValue] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRFeatureTypes]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRFeatureTypes](
	[IdFeatureType] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRFeatureTypes] PRIMARY KEY CLUSTERED 
(
	[IdFeatureType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRLeads]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRLeads](
	[IdLead] [int] IDENTITY(1,1) NOT NULL,
	[LeadCode] [varchar](20) NOT NULL,
	[IdCampaign] [int] NOT NULL,
	[IdStatus] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRLeads] PRIMARY KEY CLUSTERED 
(
	[IdLead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRLeadStatuses]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRLeadStatuses](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[StatusDescription] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRLeadStatuses] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRLogLevels]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRLogLevels](
	[IdLevel] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRLogLevels] PRIMARY KEY CLUSTERED 
(
	[IdLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRLogs]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRLogs](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[LogDescription] [varchar](50) NOT NULL,
	[RefID] [bigint] NOT NULL,
	[Checksum] [varbinary](30) NOT NULL,
	[IdType] [int] NOT NULL,
	[IdLevel] [int] NOT NULL,
	[IdSource] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[Computer] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_PCRLogs] PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRLogSources]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRLogSources](
	[IdSource] [int] IDENTITY(1,1) NOT NULL,
	[SourceDescription] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PCRLogSources] PRIMARY KEY CLUSTERED 
(
	[IdSource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRLogTypes]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRLogTypes](
	[IdType] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRLogTypes] PRIMARY KEY CLUSTERED 
(
	[IdType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCROrganizations]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCROrganizations](
	[IdOrganization] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationName] [varchar](50) NOT NULL,
	[Website] [varchar](50) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Industry] [varchar](30) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[IdAddress] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PCROrganizations] PRIMARY KEY CLUSTERED 
(
	[IdOrganization] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRPaymentMethods]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRPaymentMethods](
	[IdPaymentMethod] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [varchar](20) NOT NULL,
	[Description] [varchar](60) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRPaymentMethods] PRIMARY KEY CLUSTERED 
(
	[IdPaymentMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRPaymentTransactions]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRPaymentTransactions](
	[IdPaymentTransaction] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](16, 2) NOT NULL,
	[IdPaymentMethod] [int] NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[IdType] [int] NOT NULL,
	[Computer] [varchar](20) NOT NULL,
	[IdUser] [int] NOT NULL,
	[Checksum] [varbinary](32) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PCRTransactions] PRIMARY KEY CLUSTERED 
(
	[IdPaymentTransaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRPaymentTransactionTypes]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRPaymentTransactionTypes](
	[IdType] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRTransactionTypes] PRIMARY KEY CLUSTERED 
(
	[IdType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRPermissions]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRPermissions](
	[IdPermission] [int] IDENTITY(1,1) NOT NULL,
	[PermissionDescription] [varchar](50) NOT NULL,
	[PermissionCode] [varchar](10) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRPermissions] PRIMARY KEY CLUSTERED 
(
	[IdPermission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRPermissionsPerRoles]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRPermissionsPerRoles](
	[IdRole] [int] NOT NULL,
	[IdPermission] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRPermissionsPerUsers]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRPermissionsPerUsers](
	[IdUser] [int] NOT NULL,
	[IdPermission] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRRolesPerUsers]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRRolesPerUsers](
	[IdUser] [int] NOT NULL,
	[IdRole] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRSaleDetails]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRSaleDetails](
	[IdDetail] [int] IDENTITY (1,1) NOT NULL,
	[DetailDescription] [varchar](30) NOT NULL,
	[DetailValue] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
	[IdSale] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRSalesHistory]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRSalesHistory](
	[IdSale] [int] IDENTITY(1,1) NOT NULL,
	[IdClient] [int] NOT NULL,
	[SaleTotal] [decimal](16, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Checksum] [int] NOT NULL,
 CONSTRAINT [PK_PCRSalesHistory] PRIMARY KEY CLUSTERED 
(
	[IdSale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRStates]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRStates](
	[IdState] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](30) NOT NULL,
	[IdCountry] [int] NOT NULL,
 CONSTRAINT [PK_PCRStates] PRIMARY KEY CLUSTERED 
(
	[IdState] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRSubscriptionFeatures]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRSubscriptionFeatures](
	[IdFeature] [int] IDENTITY(1,1) NOT NULL,
	[FeatureDescription] [varchar](50) NOT NULL,
	[Value] [varchar](20) NOT NULL,
	[FeatureCode] [varchar](10) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRSubscriptionFeatures] PRIMARY KEY CLUSTERED 
(
	[IdFeature] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRSubscriptionFeaturesPerTiers]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRSubscriptionFeaturesPerTiers](
	[IdTier] [int] NOT NULL,
	[IdFeature] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRSubscriptionFeaturesPerUsers]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRSubscriptionFeaturesPerUsers](
	[IdUser] [int] NOT NULL,
	[IdFeature] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRSubscriptions]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRSubscriptions](
	[IdSubscription] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdTier] [int] NOT NULL,
 CONSTRAINT [PK_PCRSubscriptions] PRIMARY KEY CLUSTERED 
(
	[IdSubscription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRSubscriptionTiers]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRSubscriptionTiers](
	[IdTier] [int] IDENTITY(1,1) NOT NULL,
	[TierName] [varchar](20) NOT NULL,
	[TierDescription] [varchar](80) NOT NULL,
	[Pricing] [decimal](16, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRSubscriptionTiers] PRIMARY KEY CLUSTERED 
(
	[IdTier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRUserRoles]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRUserRoles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRUserRoles] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRUsers]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRUsers](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](40) NOT NULL,
	[LastName] [varchar](40) NOT NULL,
	[Email] [varchar](50) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[SSN] [varbinary](max) NULL,
	[IdAddress] [int] NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](36) NOT NULL,
	[LastLogin] [datetime] NOT NULL,
	[Checksum] [varbinary](32) NOT NULL,
	[IdStatus] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PCRUsers] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRUsersPerOrganizations]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRUsersPerOrganizations](
	[IdOrganization] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRUserStatuses]    Script Date: 11/11/2025 3:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRUserStatuses](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[StatusDescription] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRUserStatuses] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PCRAddresses]  WITH CHECK ADD  CONSTRAINT [FK_PCRAddresses_PCRCities] FOREIGN KEY([IdCity])
REFERENCES [dbo].[PCRCities] ([IdCity])
GO
ALTER TABLE [dbo].[PCRAddresses] CHECK CONSTRAINT [FK_PCRAddresses_PCRCities]
GO
ALTER TABLE [dbo].[PCRCampaigns]  WITH CHECK ADD  CONSTRAINT [FK_PCRCampaigns_PCRCampaignStates] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[PCRCampaignStatuses] ([IdStatus])
GO
ALTER TABLE [dbo].[PCRCampaigns] CHECK CONSTRAINT [FK_PCRCampaigns_PCRCampaignStates]
GO
ALTER TABLE [dbo].[PCRCampaigns]  WITH CHECK ADD  CONSTRAINT [FK_PCRCampaigns_PCROrganizations] FOREIGN KEY([IdOrganization])
REFERENCES [dbo].[PCROrganizations] ([IdOrganization])
GO
ALTER TABLE [dbo].[PCRCampaigns] CHECK CONSTRAINT [FK_PCRCampaigns_PCROrganizations]
GO
ALTER TABLE [dbo].[PCRCities]  WITH CHECK ADD  CONSTRAINT [FK_PCRCities_PCRStates] FOREIGN KEY([IdState])
REFERENCES [dbo].[PCRStates] ([IdState])
GO
ALTER TABLE [dbo].[PCRCities] CHECK CONSTRAINT [FK_PCRCities_PCRStates]
GO
ALTER TABLE [dbo].[PCRClients]  WITH CHECK ADD  CONSTRAINT [FK_PCRClients_PCRClientStates] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[PCRClientStatuses] ([IdStatus])
GO
ALTER TABLE [dbo].[PCRClients] CHECK CONSTRAINT [FK_PCRClients_PCRClientStates]
GO
ALTER TABLE [dbo].[PCRClientsPerCampaigns]  WITH CHECK ADD  CONSTRAINT [FK_PCRClientsPerCampaigns_PCRCampaigns] FOREIGN KEY([IdCampaign])
REFERENCES [dbo].[PCRCampaigns] ([IdCampaign])
GO
ALTER TABLE [dbo].[PCRClientsPerCampaigns] CHECK CONSTRAINT [FK_PCRClientsPerCampaigns_PCRCampaigns]
GO
ALTER TABLE [dbo].[PCRClientsPerCampaigns]  WITH CHECK ADD  CONSTRAINT [FK_PCRClientsPerCampaigns_PCRClients] FOREIGN KEY([IdClient])
REFERENCES [dbo].[PCRClients] ([IdClient])
GO
ALTER TABLE [dbo].[PCRClientsPerCampaigns] CHECK CONSTRAINT [FK_PCRClientsPerCampaigns_PCRClients]
GO
ALTER TABLE [dbo].[PCREvents]  WITH CHECK ADD  CONSTRAINT [FK_PCREvents_PCREventMediums] FOREIGN KEY([IdEventMedium])
REFERENCES [dbo].[PCREventMediums] ([IdEventMedium])
GO
ALTER TABLE [dbo].[PCREvents] CHECK CONSTRAINT [FK_PCREvents_PCREventMediums]
GO
ALTER TABLE [dbo].[PCREvents]  WITH CHECK ADD  CONSTRAINT [FK_PCREvents_PCREventSources] FOREIGN KEY([IdEventSources])
REFERENCES [dbo].[PCREventSources] ([IdEventSource])
GO
ALTER TABLE [dbo].[PCREvents] CHECK CONSTRAINT [FK_PCREvents_PCREventSources]
GO
ALTER TABLE [dbo].[PCREvents]  WITH CHECK ADD  CONSTRAINT [FK_PCREvents_PCREventTypes] FOREIGN KEY([IdEventType])
REFERENCES [dbo].[PCREventTypes] ([IdEventType])
GO
ALTER TABLE [dbo].[PCREvents] CHECK CONSTRAINT [FK_PCREvents_PCREventTypes]
GO
ALTER TABLE [dbo].[PCREvents]  WITH CHECK ADD  CONSTRAINT [FK_PCREvents_PCRLeads] FOREIGN KEY([IdLead])
REFERENCES [dbo].[PCRLeads] ([IdLead])
GO
ALTER TABLE [dbo].[PCREvents] CHECK CONSTRAINT [FK_PCREvents_PCRLeads]
GO
ALTER TABLE [dbo].[PCRFeaturesPerClients]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerClients_PCRClients] FOREIGN KEY([IdClient])
REFERENCES [dbo].[PCRClients] ([IdClient])
GO
ALTER TABLE [dbo].[PCRFeaturesPerClients] CHECK CONSTRAINT [FK_PCRFeaturesPerClients_PCRClients]
GO
ALTER TABLE [dbo].[PCRFeaturesPerClients]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerClients_PCRFeatureTypes] FOREIGN KEY([IdFeatureType])
REFERENCES [dbo].[PCRFeatureTypes] ([IdFeatureType])
GO
ALTER TABLE [dbo].[PCRFeaturesPerClients] CHECK CONSTRAINT [FK_PCRFeaturesPerClients_PCRFeatureTypes]
GO
ALTER TABLE [dbo].[PCRFeaturesPerLeads]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerLeads_PCRFeatureTypes] FOREIGN KEY([IdFeatureType])
REFERENCES [dbo].[PCRFeatureTypes] ([IdFeatureType])
GO
ALTER TABLE [dbo].[PCRFeaturesPerLeads] CHECK CONSTRAINT [FK_PCRFeaturesPerLeads_PCRFeatureTypes]
GO
ALTER TABLE [dbo].[PCRFeaturesPerLeads]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerLeads_PCRLeads] FOREIGN KEY([IdLead])
REFERENCES [dbo].[PCRLeads] ([IdLead])
GO
ALTER TABLE [dbo].[PCRFeaturesPerLeads] CHECK CONSTRAINT [FK_PCRFeaturesPerLeads_PCRLeads]
GO
ALTER TABLE [dbo].[PCRLeads]  WITH CHECK ADD  CONSTRAINT [FK_PCRLeads_PCRCampaigns] FOREIGN KEY([IdCampaign])
REFERENCES [dbo].[PCRCampaigns] ([IdCampaign])
GO
ALTER TABLE [dbo].[PCRLeads] CHECK CONSTRAINT [FK_PCRLeads_PCRCampaigns]
GO
ALTER TABLE [dbo].[PCRLeads]  WITH CHECK ADD  CONSTRAINT [FK_PCRLeads_PCRLeadStatuses] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[PCRLeadStatuses] ([IdStatus])
GO
ALTER TABLE [dbo].[PCRLeads] CHECK CONSTRAINT [FK_PCRLeads_PCRLeadStatuses]
GO
ALTER TABLE [dbo].[PCRLogs]  WITH CHECK ADD  CONSTRAINT [FK_PCRLogs_PCRLogLevels] FOREIGN KEY([IdLevel])
REFERENCES [dbo].[PCRLogLevels] ([IdLevel])
GO
ALTER TABLE [dbo].[PCRLogs] CHECK CONSTRAINT [FK_PCRLogs_PCRLogLevels]
GO
ALTER TABLE [dbo].[PCRLogs]  WITH CHECK ADD  CONSTRAINT [FK_PCRLogs_PCRLogSources] FOREIGN KEY([IdSource])
REFERENCES [dbo].[PCRLogSources] ([IdSource])
GO
ALTER TABLE [dbo].[PCRLogs] CHECK CONSTRAINT [FK_PCRLogs_PCRLogSources]
GO
ALTER TABLE [dbo].[PCRLogs]  WITH CHECK ADD  CONSTRAINT [FK_PCRLogs_PCRLogTypes] FOREIGN KEY([IdType])
REFERENCES [dbo].[PCRLogTypes] ([IdType])
GO
ALTER TABLE [dbo].[PCRLogs] CHECK CONSTRAINT [FK_PCRLogs_PCRLogTypes]
GO
ALTER TABLE [dbo].[PCRLogs]  WITH CHECK ADD  CONSTRAINT [FK_PCRLogs_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PCRUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PCRLogs] CHECK CONSTRAINT [FK_PCRLogs_PCRUsers]
GO
ALTER TABLE [dbo].[PCROrganizations]  WITH CHECK ADD  CONSTRAINT [FK_PCROrganizations_PCRAddresses] FOREIGN KEY([IdAddress])
REFERENCES [dbo].[PCRAddresses] ([IdAddress])
GO
ALTER TABLE [dbo].[PCROrganizations] CHECK CONSTRAINT [FK_PCROrganizations_PCRAddresses]
GO
ALTER TABLE [dbo].[PCRPaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PCRPaymentTransactions_PCRPaymentMethods] FOREIGN KEY([IdPaymentMethod])
REFERENCES [dbo].[PCRPaymentMethods] ([IdPaymentMethod])
GO
ALTER TABLE [dbo].[PCRPaymentTransactions] CHECK CONSTRAINT [FK_PCRPaymentTransactions_PCRPaymentMethods]
GO
ALTER TABLE [dbo].[PCRPaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PCRTransactions_PCRTransactionTypes] FOREIGN KEY([IdType])
REFERENCES [dbo].[PCRPaymentTransactionTypes] ([IdType])
GO
ALTER TABLE [dbo].[PCRPaymentTransactions] CHECK CONSTRAINT [FK_PCRTransactions_PCRTransactionTypes]
GO
ALTER TABLE [dbo].[PCRPaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PCRTransactions_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PCRUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PCRPaymentTransactions] CHECK CONSTRAINT [FK_PCRTransactions_PCRUsers]
GO
ALTER TABLE [dbo].[PCRPermissionsPerRoles]  WITH CHECK ADD  CONSTRAINT [FK_PCRPermissionsPerRoles_PCRPermissions] FOREIGN KEY([IdPermission])
REFERENCES [dbo].[PCRPermissions] ([IdPermission])
GO
ALTER TABLE [dbo].[PCRPermissionsPerRoles] CHECK CONSTRAINT [FK_PCRPermissionsPerRoles_PCRPermissions]
GO
ALTER TABLE [dbo].[PCRPermissionsPerRoles]  WITH CHECK ADD  CONSTRAINT [FK_PCRPermissionsPerRoles_PCRUserRoles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[PCRUserRoles] ([IdRole])
GO
ALTER TABLE [dbo].[PCRPermissionsPerRoles] CHECK CONSTRAINT [FK_PCRPermissionsPerRoles_PCRUserRoles]
GO
ALTER TABLE [dbo].[PCRPermissionsPerUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRPermissionsPerUsers_PCRPermissions] FOREIGN KEY([IdPermission])
REFERENCES [dbo].[PCRPermissions] ([IdPermission])
GO
ALTER TABLE [dbo].[PCRPermissionsPerUsers] CHECK CONSTRAINT [FK_PCRPermissionsPerUsers_PCRPermissions]
GO
ALTER TABLE [dbo].[PCRPermissionsPerUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRPermissionsPerUsers_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PCRUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PCRPermissionsPerUsers] CHECK CONSTRAINT [FK_PCRPermissionsPerUsers_PCRUsers]
GO
ALTER TABLE [dbo].[PCRRolesPerUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRRolesPerUsers_PCRUserRoles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[PCRUserRoles] ([IdRole])
GO
ALTER TABLE [dbo].[PCRRolesPerUsers] CHECK CONSTRAINT [FK_PCRRolesPerUsers_PCRUserRoles]
GO
ALTER TABLE [dbo].[PCRRolesPerUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRRolesPerUsers_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PCRUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PCRRolesPerUsers] CHECK CONSTRAINT [FK_PCRRolesPerUsers_PCRUsers]
GO
ALTER TABLE [dbo].[PCRSaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_PCRSaleDetails_PCRSalesHistory] FOREIGN KEY([IdSale])
REFERENCES [dbo].[PCRSalesHistory] ([IdSale])
GO
ALTER TABLE [dbo].[PCRSaleDetails] CHECK CONSTRAINT [FK_PCRSaleDetails_PCRSalesHistory]
GO
ALTER TABLE [dbo].[PCRSalesHistory]  WITH CHECK ADD  CONSTRAINT [FK_PCRSalesHistory_PCRClients] FOREIGN KEY([IdClient])
REFERENCES [dbo].[PCRClients] ([IdClient])
GO
ALTER TABLE [dbo].[PCRSalesHistory] CHECK CONSTRAINT [FK_PCRSalesHistory_PCRClients]
GO
ALTER TABLE [dbo].[PCRStates]  WITH CHECK ADD  CONSTRAINT [FK_PCRStates_PCRCountries] FOREIGN KEY([IdCountry])
REFERENCES [dbo].[PCRCountries] ([IdCountry])
GO
ALTER TABLE [dbo].[PCRStates] CHECK CONSTRAINT [FK_PCRStates_PCRCountries]
GO
ALTER TABLE [dbo].[PCRSubscriptionFeaturesPerTiers]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerTiers_PCRSubscriptionFeatures] FOREIGN KEY([IdFeature])
REFERENCES [dbo].[PCRSubscriptionFeatures] ([IdFeature])
GO
ALTER TABLE [dbo].[PCRSubscriptionFeaturesPerTiers] CHECK CONSTRAINT [FK_PCRFeaturesPerTiers_PCRSubscriptionFeatures]
GO
ALTER TABLE [dbo].[PCRSubscriptionFeaturesPerTiers]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerTiers_PCRSubscriptionTiers] FOREIGN KEY([IdTier])
REFERENCES [dbo].[PCRSubscriptionTiers] ([IdTier])
GO
ALTER TABLE [dbo].[PCRSubscriptionFeaturesPerTiers] CHECK CONSTRAINT [FK_PCRFeaturesPerTiers_PCRSubscriptionTiers]
GO
ALTER TABLE [dbo].[PCRSubscriptionFeaturesPerUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerUsers_PCRSubscriptionFeatures] FOREIGN KEY([IdFeature])
REFERENCES [dbo].[PCRSubscriptionFeatures] ([IdFeature])
GO
ALTER TABLE [dbo].[PCRSubscriptionFeaturesPerUsers] CHECK CONSTRAINT [FK_PCRFeaturesPerUsers_PCRSubscriptionFeatures]
GO
ALTER TABLE [dbo].[PCRSubscriptionFeaturesPerUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerUsers_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PCRUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PCRSubscriptionFeaturesPerUsers] CHECK CONSTRAINT [FK_PCRFeaturesPerUsers_PCRUsers]
GO
ALTER TABLE [dbo].[PCRSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_PCRSubscriptions_PCRSubscriptionTiers] FOREIGN KEY([IdTier])
REFERENCES [dbo].[PCRSubscriptionTiers] ([IdTier])
GO
ALTER TABLE [dbo].[PCRSubscriptions] CHECK CONSTRAINT [FK_PCRSubscriptions_PCRSubscriptionTiers]
GO
ALTER TABLE [dbo].[PCRSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_PCRSubscriptions_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PCRUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PCRSubscriptions] CHECK CONSTRAINT [FK_PCRSubscriptions_PCRUsers]
GO
ALTER TABLE [dbo].[PCRUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRUsers_PCRAddresses] FOREIGN KEY([IdAddress])
REFERENCES [dbo].[PCRAddresses] ([IdAddress])
GO
ALTER TABLE [dbo].[PCRUsers] CHECK CONSTRAINT [FK_PCRUsers_PCRAddresses]
GO
ALTER TABLE [dbo].[PCRUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRUsers_PCRUserStatuses] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[PCRUserStatuses] ([IdStatus])
GO
ALTER TABLE [dbo].[PCRUsers] CHECK CONSTRAINT [FK_PCRUsers_PCRUserStatuses]
GO
ALTER TABLE [dbo].[PCRUsersPerOrganizations]  WITH CHECK ADD  CONSTRAINT [FK_PCRUsersPerOrganizations_PCROrganizations] FOREIGN KEY([IdOrganization])
REFERENCES [dbo].[PCROrganizations] ([IdOrganization])
GO
ALTER TABLE [dbo].[PCRUsersPerOrganizations] CHECK CONSTRAINT [FK_PCRUsersPerOrganizations_PCROrganizations]
GO
ALTER TABLE [dbo].[PCRUsersPerOrganizations]  WITH CHECK ADD  CONSTRAINT [FK_PCRUsersPerOrganizations_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PCRUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PCRUsersPerOrganizations] CHECK CONSTRAINT [FK_PCRUsersPerOrganizations_PCRUsers]
GO
USE [master]
GO
