# Ejemplo de configuración para el runner local
# Rellena las credenciales reales o usa variables de entorno si prefieres.

postgresql:
  service_name: localhost
  database: mydb
  username: myuser
  password: mypass
  namespace: default
  use_k8s_service: false

mongodb:
  service_name: localhost
  database: my_mongo_db
  username: mongo_user
  password: mongo_password
  namespace: default
  use_k8s_service: false

sqlserver:
  service_name: localhost
  database: master
  username: sa
  password: StrongPasswordHere
  namespace: default
  use_k8s_service: false
